.downline
    p Copyright © 2018 Toxin отель. Все права защищены.
    .socsety
        img(src=require("../../files/images/twitter.svg"), alt="twitter")
        img(src=require("../../files/images/facebook.svg"), alt="twitter")
        img(src=require("../../files/images/instagram.svg"), alt="twitter")