html
    head
        //- add styles in head
        link(href=require('./uikit.scss') rel='stylesheet')
    body
        .content
            .colors 
                .item
                    .square.back-dark-shade-100
                    div
                        h2.color-name Dark Shade 100%
                        .color-number.dark-shade-100 #1F2041
                .item
                    .square.back-dark-shade-75
                    div
                        h2.color-name Dark Shade 75%
                        .color-number.dark-shade-100 #1F2041
                .item
                    .square.back-dark-shade-50
                    div
                        h2.color-name Dark Shade 50%
                        .color-number.dark-shade-100 #1F2041
                .item
                    .square.back-dark-shade-25
                    div
                        h2.color-name Dark Shade 25%
                        .color-number.dark-shade-100 #1F2041
                .item
                    .square.back-dark-shade-05
                    div
                        h2.color-name Dark Shade 5%
                        .color-number.dark-shade-100 #1F2041
                .item
                    .square.back-purple
                    div
                        h2.color-name Purple
                        .color-number.dark-shade-100 #BC9CFF
                .item
                    .square.back-green
                    div
                        h2.color-name Green
                        .color-number.dark-shade-100 #6FCF97
            .fonts
                h1.dark-shade-100 This one is the sub-section or widget title
                h2.dark-shade-100 Next one is the item title inside widgets
                h3.dark-shade-100 This is a label or CTA text
                p This is the body text which is used for most of the design, like paragraphs, lists, etc.This is the body text which is used for most of the design, like paragraphs, lists, etc.